body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2A3652;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
}

header .logo-container img {
    height: 50px;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 34px;
}

header p {
    text-align: center;
    color: #A9D6B9;
    font-weight: 600;
}

.titre {
    margin: 3rem;
    color: white;
    text-align: center;
    padding-top: 30px;
    border-top: 2px solid #A9D6B9;
}

.faq-section {
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq-item {
    border-bottom: 1px solid #e5e7eb;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #A9D6B9;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #eef7f1;
}

.faq-question .icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.faq-answer {
    display: none;
    padding: 1rem;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    background-color: #f9fafb;
    text-align: center;
}
